/* Global Styles */

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    border: none;
    color:#2A2929;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  text-transform:uppercase;
  font-weight:500;
  color:#1D1C1C;
  margin-top:0;
  letter-spacing: 0.9px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight:400;
  line-height: 24px;
  letter-spacing: 0.9px;
  color:#050505;
}

a{
  background:none;
  text-decoration: none;
  outline: none;
}

a:hover,  a:active,  a:focus {
  color:000;
  text-decoration: none;
  outline: none;
}

/* Custom Button Styles */


/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  width: 233px;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  display: block;
  color: #999;
  font-size:1.5em;
  padding-top:1.5em;
  padding-left: 1.2em;

}

.sidebar-nav li a:hover {
  color: #fff;

}

#menu-toggle {
  z-index: 9999;
  position: fixed;
  top: 1em;
  right: 1em;
  color: #9999;
  cursor:pointer;
}

#sidebar-wrapper.active {
  right: 230px;
  width: 230px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}


/* Header */

.vert-text {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  padding-top: 28em;
}

.vert-text h1 {
  font-size: 4.0em;
  font-weight: 700;
  color:#FFFFFF;
}

.vert-text h2{
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 2.0em;
  font-weight: 700;
  color:#FFFFFF;
}


/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/home.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

